node_modules
.idea/compiler.xml
.idea/encodings.xml
.idea/jsLibraryMappings.xml
.idea/misc.xml
.idea/modules.xml
.idea/nodeapp.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/copyright/profiles_settings.xml
.idea/libraries/nodeapp_node_modules.xml
module/app.js
module/package.json
module/bin/www
module/public/stylesheets/style.css
module/routes/index.js
module/routes/users.js
module/views/error.jade
module/views/index.jade
module/views/layout.jade